.button {
  background-color: $red-color;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  width: 100%;
  font: inherit;
  cursor: pointer;
  &__link{
    @include d-flex-justify-space-between;
  }
  &__icon{
    margin-right: 8px;
  }
  &__text{
    font-weight: 500;
    color: $white-color;
  }
}
